{% extends 'base.html' %}

{% block title %}Mini Apps{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <a href="dice-rolling-game/" class="card-img-container">
                            <img src="https://img.freepik.com/free-vector/two-vector-red-casino-falling-dice-with-white-dots-isolated-background_1284-48503.jpg" alt="Dice Rolling Game">
                            <div class="card-overlay">
                                    <i class="fa-solid fa-dice-six"></i>
                                <h3 class="card-title">Dice Rolling</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <a href="number-guessing-game/" class="card-img-container">
                            <img src="https://img.freepik.com/free-vector/cartoon-number-collection-with-characters_23-2147806823.jpg" alt="Number Guessing Game">
                            <div class="card-overlay">
                                    <i class="fa-solid fa-circle-question"></i>
                                <h3 class="card-title">Number Guessing</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <a href="rock-paper-scissors-game/" class="card-img-container">
                            <img src="https://cdn-icons-png.freepik.com/512/6831/6831874.png" alt="Rock Paper Scissors Game">
                            <div class="card-overlay">
                                    <i class="fa-solid fa-hand-scissors"></i>
                                <h3 class="card-title">Rock Paper Scissors</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <a href="qr-code-generator/" class="card-img-container">
                            <img src="https://img.freepik.com/free-vector/qr-code-concept-illustration_114360-5933.jpg" alt="QR Code Generator">
                            <div class="card-overlay">
                                    <i class="fa-solid fa-qrcode"></i>
                                <h3 class="card-title">QR Generator</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <a href="currency-converter/" class="card-img-container">
                            <img src="https://img.freepik.com/free-photo/various-different-euros-background_1101-2387.jpg" alt="Currency Converter">
                            <div class="card-overlay">
                                    <i class="fa-solid fa-euro-sign"></i>
                                <h3 class="card-title">Currency Converter</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <a href="quiz-game/" class="card-img-container">
                            <img src="https://img.freepik.com/free-vector/modern-question-mark-help-support-page_1017-27395.jpg" alt="Quiz Game">
                            <div class="card-overlay">
                                    <i class="fa-solid fa-circle-question"></i>
                                <h3 class="card-title">Quiz Game</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <a href="tic-tac-toe-game/" class="card-img-container">
                            <img src="https://img.freepik.com/free-vector/xoxo-doodle-word-hand-lettering-typography_53876-172732.jpg" alt="Tic Tac Toe Game">
                            <div class="card-overlay">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                <h3 class="card-title">Tic Tac Toe</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <a href="to-do-list/" class="card-img-container">
                            <img src="https://img.freepik.com/free-vector/list-concept-illustration_114360-2498.jpg" alt="To-Do List Application">
                            <div class="card-overlay">
                                    <i class="fa-solid fa-list-check"></i>
                                <h3 class="card-title">To-Do List</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
